<div id="content">
  <section class="hello" id="about">
    <div class="container">
      <div class="col-sm-6">
        <div class="heading-block">
          <h1 class="huge-tittle animate fadeInRight">about</h1>
          <h6 class="animate fadeInRight">Blocipedia</h6>
          <%= image_tag "_img/icon-services-2.png", class:"about-img animate fadeInLeft", alt:"blocipedia" %>
        </div>
      </div>

        <div class="col-sm-6">
          <div class="about-lead">
            <p class="lead">read, build, or collaborate on community-sourced content...
            <br>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div>
              <a href="#." class="btn-sm">Get Started</a>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>

<hr class="featurette-divider">
<div class="content">
  <section class="bloc-plans" id="plans">
    <div class="container">
      <div class="row">
        <div class="col-lg heading-block">
          <h1 class="bloc-plans-heading huge-tittle">Select a Plan</h1>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <%= image_tag "about-plan-placeholder1.png", class:"rounded-circle", alt:"Generic placeholder image" %>
            <div class="caption">
              <h2 class="plan">Standard</h2>
              <h3>Free</h3>
              <p>Sustainable Polaroid raw denim four loko vexillologist, hexagon viral whatever kitsch dreamcatcher umami art party. </p>
              <p><a href="#" class="btn-sm" role="button">Button</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <%= image_tag "about-plan-placeholder2.png", class:"rounded-circle", alt:"Generic placeholder image" %>
            <div class="caption">
              <h2 class="plan">Premium</h2>
              <h3>$9.99</h3>
              <p>DIY disrupt dreamcatcher, cornhole leggings pork belly meditation polaroid chia XOXO offal irony VHS shaman.</p>
              <p><a href="#" class="btn-sm" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>

  </section>
</div>
