<div class="jumbotron">

  <h1>Welcome to Blocipedia</h1>
  <div class="">
    <p class="lead">A place where you can build your own wikis and share them <br> publicly or privatly with other collaborators.</p>
  </div>
  <%if user_signed_in?%>
    <%= link_to 'New Wiki', wikis_path, :class => 'login btn btn-success btn-lg'%>
  <% else %>
  <%= link_to 'Get Started', new_user_registration_path, :class => 'login btn btn-success btn-lg'%>
  <% end %>
</div>
