<div class="jumbotron">
  <h1>Welcome to Blocipedia</h1>
  <p class="lead">A place where you can build your own wikis and share them <br> publicly or privatly with other collaborators.</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">New Wiki</a></p>
</div>
