/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 // .navbar-collapse.collapse {
 //     display: none!important;
 //
 #logo{
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
 }


button.navbar-toggle {
  display: block!important;
  margin: auto;
  padding: 13px 10px;
}

#toggle-div{
  float: right;
}

.footer{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 200px;
  border-top: 2px solid #eee;
  text-align: center;
}

@media (max-width: 767px){
  nav .container{
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }
  .navbar-header{
    // float: left;
    padding-left: 5px;
    padding-right: 5px;

  }

  #searchbar{
    max-width: 300px;
    // min-width: 100px;
    margin: auto;
    float: left;
  }
  #toggle-div{
    float: right;
  }
}
