// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
  text-align: center;
}
.about-jumbo{
  text-align: left !important;
  background-color: white !important;
}
.jumbotron-bgimg{
  height: auto;
  width: 100%;
}

#featurette{}
.featurette-divider{
  margin-top: 40px;
}
.featurette-image{
  height: 80%;
  width: 90%;
}
.featurette-heading{
  // font-size: 50px !important;
  text-align: left;
}
.marketing-heading{
  text-align: center;
  padding-bottom: 40px;
}
.thumbnail{
  justify-content: center;
  text-align: center;
}
