<div id="content">
  <section class="thank-you">
    <div class="container">
      <div class="col-sm-6">
        <div class="heading-block">
          <h1 class="huge-tittle animate fadeInRight">Thank You!</h1>
          <h6 class="animate fadeInRight">You are now a Premium Member</h6>
          <%= image_tag "_img/icon-services-2.png", class:"about-img animate fadeInLeft", alt:"blocipedia" %>
        </div>
      </div>

        <div class="col-sm-6">
          <div class="about-lead">
            <p class="lead">read, build, or collaborate on community-sourced content...
            <br>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div>
              <%=link_to "create", new_wiki_path, class: 'btn-sm'%>
            </div>
          </div>
        </div>
    </div>
  </section>
</div>
